<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple HTTP Server</title>
    <link rel="stylesheet" href="style.css">
    <script src="code.js" defer></script>
</head>
<body>
        <h1 id="welcome">Welcome to my Simple HTTP Server</h1>
        <marquee id="name" direction="right" height="100px">
        My Name is Nathan Haight
        </marquee>
        <div id="link-container">
            <a href="/about">About</a>
            <a href="/experience">Experience</a>
            <a href="/projects">Projects</a>
        </div>
        <div id="para-box">
            <p id="para">
                This website is for me to demonstrate my insane css skills as you can see this is the mathematically the perfect website. 
                I made the server myself thats why you can access it anywhere in the world (As long as you have all the assets an the server running 
                on your machine). If you want to see more stuff I've done you can click the links above. :)
            </p>    
        </div>
</html>