<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>About me</title>
    </head>

    <body>
        <h1>Projects</h1>
        <dl>
            <dt>Fractal Generator</dt>
            <dd>A program that generates some fractals like the Mandelbrot set</dd>
            <dt>Lode Runner</dt>
            <dd>I tried recreating the classic game in... Java. Its currently dead in the water but one of my favorites still</dd>
            <dt>Tetris</dt>
            <dd>I also made a Tetris clone also with Java FX but it's lost to time :(</dd>
        </dl>
    </body>
</html>